
<div class="container mt-3">
  <div class="row">
    <!-- Statut du robot -->
    <div class="col-12">
      <app-robot-status></app-robot-status>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <!-- Contrôle directionnel -->
      <app-direction-control></app-direction-control>

      <!-- Points d'intérêt avec retour station -->
      <app-points-of-interest></app-points-of-interest>
      
    </div>

    <div class="col-md-6">
      
      <!-- Vue de la caméra -->
      <app-camera></app-camera>

      <!-- Contrôle de vitesse -->
      <app-speed-control></app-speed-control>

<!--      &lt;!&ndash; Plan d'étage &ndash;&gt;-->
<!--      <app-floor-map></app-floor-map>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row mt-3">-->
<!--    <div class="col-12">-->
<!--      &lt;!&ndash; Flux caméra &ndash;&gt;-->
<!--      <app-camera-feed></app-camera-feed>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
